.header {
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 500px;
    height: 700px;
    background-image: url(./resources/wedding__tree.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
}

.head__text {
    position: absolute;
    bottom: -10px;
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head__title {
    font-size: 60px;
}

.head__description {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
    font-size: 24px;
}

@media (max-width: 539px) {
    .header {
        margin-bottom: 70px;
        width: 100%;
        height: 500px;
    }

    .head__text {
        bottom: -40px;
        width: 100%;
    }

    .head__title {
        font-size: 50px;
    }

    .head__description {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        font-size: 24px;
    }
}
