.invitation {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 500px;
    height: 500px;
}

.invitation__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 40px;
}

.invitation__text {
    font-size: 22px;
}


@media (max-width: 539px) {
    .invitation {
        padding: 10px;
        width: 100%;
        background-image: url(./resources/back-invit.jfif);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50%;
    }
    
    .invitation__title {
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    .invitation__text {
        font-size: 18px;
    }
}