.countdown {
    padding: 20px;
}

.countdown__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
}

.countdown__timer {
    margin: 0 auto;
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.timer__number {
    font-size: 30px;
}

.timer__text {
    font-size: 20px;
}


@media (max-width: 539px) {
    .countdown {
        padding: 10px;
    }

    .countdown__title {
        margin-bottom: 20px;
        font-size: 22px;
    }
    
    .countdown__timer {
        width: 90%;
    }
    
    .timer {
        gap: 3px;
    }
    
    .timer__number {
        font-size: 22px;
    }
    
    .timer__text {
        font-size: 16px;
    }
}